<div *ngIf="center!=undefined">
    <app-vaccination-center [selectedCentre]="center"></app-vaccination-center>

    <br>
        <form [formGroup]="bookForm">
            <mat-form-field>
                <mat-label for="prenom">Prénom: </mat-label>
                <input matInput placeholder="Votre prénom" type="text" formControlName="prenom" id="prenom" >
             
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label for="nom">Nom: </mat-label>
                <input matInput placeholder="Votre nom" type="text" formControlName="nom" id="nom"> 
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label for="email">Email: </mat-label>
                <input matInput placeholder="Votre email" type="email" formControlName="email" id="email" > 
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label for="date">Choisissez une date</mat-label>
                <input matInput type="date" id="date" formControlName="date">
            </mat-form-field>
            <br>
            <button mat-flat-button color="primary" type="submit" (click)="reserver()" [disabled]="bookForm.invalid">Réserver !</button>
        </form>
   
   
</div>
