html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body{
    background:url('assets/fond.jpg')  no-repeat center center fixed ;
    background-size: cover;  
    -webkit-background-size: cover;
}