<h2 style="text-align: center;">{{name}}</h2>
<app-input-recherche></app-input-recherche>
<br>
    <div style="text-align:center">
            <img style="width:150px; height:150px;" src="../../../../assets/img1.png" />
            <img style="width:150px; height:150px;" src="../../../../assets/img2.png" />
            <img style="width:150px; height:150px;" src="../../../../assets/img3.png" />   
            <br>
    </div> 

<div class="joli">
    <p>Se faire vacciner, c'est se protéger soi, mais aussi protéger ceux qui nous entourent. Plus une collectivité compte de personnes vaccinées, plus elle prévient les risques d'épidémies.</p><p> La vaccination permet de sauver des millions de vie chaque année et aide à éliminer des maladies dans de nombreuses régions du monde. Donc :</p>
    <strong><p>VACCINEZ-VOUS !</p></strong>
    <p>Nous sommes au service de votre santé</p>
</div>