    
    <h2>{{selectedCentre.nom }}</h2>
    <div>
        {{selectedCentre.adresse.complement}}
        <br>
        <span>{{selectedCentre.adresse.codepostal}} {{selectedCentre.adresse.ville}}</span>
    </div>


    <div *ngIf="personnel != undefined">
        <div *ngIf='admin.hasRole("SUPER_ADMIN")'>
            <br>
            <button mat-raised-button color="warn" routerLink="/private/centres/{{selectedCentre.id}}">Modifier</button>
            <button mat-raised-button color="warn" routerLink="/private/centre/{{selectedCentre.id}}">Personnels</button>
            <button mat-raised-button color="warn" (click)="supprimer()">Supprimer</button>

        </div>
    </div>