<br><br>
<div style="text-align: center;">
    <form [formGroup]="editForm">
        <mat-form-field>
            <mat-label for="nom">Nom: </mat-label>
            <input  matInput placeholder="Votre nom" type="text" formControlName="nom" id="nom"> 
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label for="complement">Adresse: </mat-label>
            <input  matInput placeholder="Votre adresse" type="complement" formControlName="complement" id="complement"> 
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label for="codepostal">Code postal: </mat-label>
            <input  matInput placeholder="Votre code postal" type="text" formControlName="codepostal" id="codepostal"> 
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label for="ville">Ville: </mat-label>
            <input  matInput placeholder="Votre ville" type="text" formControlName="ville" id="ville">     
        </mat-form-field>
        <br>
        <div style="text-align: center;">
            <button mat-raised-button color="warn" routerLink="/private/centre/{{id}}">Personnels</button>
            <button mat-raised-button color="warn" (click)="annuler()">Annuler</button> 
            <button mat-raised-button color="warn" type="submit" 
                (click)="enregistrer()"
                [disabled]="editForm.invalid"
                >Enregistrer
            </button>  
        </div>
    </form>
</div>